/****************** Global style settings *******************/

:root {
    --main-gray: #545454;
    --main-orange: #F27D16;
    --main-white: #F2F2F2;
    --main-blue: #367DD9;
    --main-red: #A6122D;
    --main-black: #000000;

    font-family: 'Open Sans', sans-serif;
}

main {
    margin: 8px;
    text-align: center;
}

/****************** Navigation styles *******************/

.topNav {
    overflow: hidden;
    background-color: var(--main-orange);
}
  
.topNav #myMenu {
    display: none;
}

.topNav a {
    color: var(--main-white);
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

.topNav a.icon {
    background: var(--main-orange);
    display: block;
    position: absolute;
    font-size: 28px;
    right: 6px;
    top: 4px;
}

.topNav a:hover {
    background-color: var(--main-white);
    color: var(--main-orange);
}

.topNav hr {
   
    border-top: 1px solid var(--main-white);
}

.topNav hr:last-of-type {
    margin-bottom: 0px;
}
  
.active {
    background-color: var(--main-orange);
    color: var(--main-white);
}

/****************** Expanding area style settings *******************/

ul {
    display: none;
    text-align: left;

}

li {
    padding-top: 4px;
}

#frontEnd ul,
#backEnd ul,
#databases ul,
#devOps ul,
#dataScience ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

#freelancer li:first-child,
#eslInstructor li:first-child,
#executiveAssociate li:first-child,
#timeEntryLead li:first-child,
#trainingSpecialist li:first-child {
    list-style-type: none;
    margin-left: -20px;
    margin-right:15 px;
    padding-bottom: 10px;
}

#education li {
    padding-bottom: 8px;
}

#formalEducation {
    display: block;
}

.orangeButton {
    background-color: var(--main-orange);
    color: var(--main-white);
    font-family: 'Russo One', sans-serif;
    font-size: 18px;
    border-radius: 15px;
}

.orangeButton:hover,
.orangeButton:focus {
    box-shadow: 10px 10px 5px var(--main-gray);
}

.expandIcon {  
    width: 80vw;
    text-align: left;
    padding: 2px;
}

#contact {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 80vw;
    margin: 0 auto;
}

#contactHeading {
    margin-bottom: 2rem;
}

#contactForm {
    text-align: left;
}

#sendMailButton {
    padding: 10px 40px;
    margin: 16px auto;
    display:block;
}

#sendMailButton:hover {
    box-shadow: 10px 10px 5px grey;
}

input {
    margin-bottom: 16px;
    width: 100%;
}

#emailBody {
    width: 100%;
}

i {
    margin-left: 15px;
    margin-right: 15px;
}

/****************** Header style settings *******************/

h1,
h2,
h3,
h4 {
    font-family: 'Russo One', sans-serif;
    text-align: center;
}

h3 {
    padding-top: 2rem;
}

#logo {
    height: 40px;
    border-radius: 50%;
}

/****************** Footer style settings *******************/

#footer {
    background-color: var(--main-gray);
    color: var(--main-white);
    width: 100%;
    margin-top: 1rem;
    text-align: center;
    font-size: 0.7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#footer ul {
    display: inline-block;
}

#links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

#links i {
    font-size: 2rem;
    margin: 1rem 2rem 2rem 2rem;
}

#links a {
    color: var(--main-white);
}

#links a:hover,
#links a:focus {
    color: var(--main-orange);
}

.photo {
    width: 100%;
    height: 170px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2rem;
    border-radius: 15px;
    filter: grayscale(50%);
    border: 2px solid var(--main-orange);
}