:root {
    --main-gray: #545454;
    --main-orange: #F27D16;
    --main-white: #F2F2F2;
    --main-blue: #367DD9;
    --main-red: #A6122D;
    --main-black: #000000;
}

.topNav {
    overflow: hidden;
    background-color: var(--main-gray);
}
  
.topNav #myMenu {
    display: none;
}

.topNav a {
    color: var(--main-black);
    padding: 14px;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.topNav a.icon {
    background: var(--main-white);
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
}

.topNav a:hover {
    background-color: var(--main-white);
    color: var(--main-orange);
}
  
.active {
    background-color: var(--main-gray);
    color: var(--main-white);
}

#logo {
    height: 40px;
    border-radius: 50%;
}

#footer {
    background-color: var(--main-gray);
    color: var(--main-white);
    width: 100%;
    margin-top: 1rem;
    text-align: center;
    font-size: 0.7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}