/****************** Global style settings *******************/

:root {
    --main-gray: #545454;
    --main-orange: #F27D16;
    --main-white: #F2F2F2;
    --main-blue: #367DD9;
    --main-red: #A6122D;
    --main-black: #000000;

    font-family: 'Open Sans', sans-serif;
}

main {
    margin: 8px;
}

/****************** Navigation styles *******************/

.topNav {
    overflow: hidden;
    background-color: var(--main-orange);
}
  
.topNav #myMenu {
    display: none;
}

.topNav a {
    color: var(--main-white);
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

.topNav a.icon {
    background: var(--main-orange);
    display: block;
    position: absolute;
    font-size: 28px;
    right: 6px;
    top: 4px;
}

.topNav a:hover {
    background-color: var(--main-white);
    color: var(--main-orange);
}

.topNav hr {
   
    border-top: 1px solid var(--main-white);
}

.topNav hr:last-of-type {
    margin-bottom: 0px;
}
  
.active {
    background-color: var(--main-orange);
    color: var(--main-white);
}

/****************** Dropdown list style settings *******************/

#frontEnd > ul,
#backEnd > ul,
#databases > ul,
#devOps > ul,
#dataScience > ul,
#softSkills > ul {
    display: none;
}

/****************** Header style settings *******************/

h1,
h2,
h3,
h4 {
    font-family: 'Russo One', sans-serif;
    text-align: center;
}

#logo {
    height: 40px;
    border-radius: 50%;
}

/****************** Footer style settings *******************/

#footer {
    background-color: var(--main-gray);
    color: var(--main-white);
    width: 100%;
    margin-top: 1rem;
    text-align: center;
    font-size: 0.7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}